################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/CommonLibrary/v15/Server/sqlite3/db.lock
/TestAPI/obj/TestAPI.csproj.nuget.g.targets
/TestAPI/obj/TestAPI.csproj.nuget.g.props
/TestAPI/obj/TestAPI.csproj.nuget.cache
/TestAPI/obj/project.assets.json
/TestAPI/obj/Docker/TargetFramework.cache
/TestAPI/obj/Docker/RelativeOutputAssemblyPath.Regular.cache
/TestAPI/obj/Docker/RelativeOutputAssemblyPath.Fast.cache
/TestAPI/obj/Docker/ProjectReferences.cache
/TestAPI/obj/Docker/CanonicalServiceNames.cache
/TestAPI/obj/Docker/AppType.cache
/TestAPI/obj/Debug/netcoreapp2.0/TestAPI.csprojAssemblyReference.cache
/TestAPI/obj/Debug/netcoreapp2.0/TestAPI.csproj.CoreCompileInputs.cache
/TestAPI/obj/Debug/netcoreapp2.0/TestAPI.AssemblyInfoInputs.cache
/TestAPI/obj/Debug/netcoreapp2.0/TestAPI.AssemblyInfo.cs
/obj/Docker/TargetOS.cache
/obj/Docker/MergedDockerCompose1.cache
/obj/Docker/MergedDockerCompose.cache
/obj/Docker/docker-compose.vs.release.g.yml
/obj/Docker/docker-compose.vs.debug.g.yml
/obj/Docker/CachedComposeConfigFilePaths.cache
/TestAPI2/obj/Docker/CanonicalServiceNames.cache
/CommonLibrary/obj/Debug/netcoreapp2.0
/CommonLibrary/obj
/.vs/CommonLibrary
/CommonModels/obj/Debug/netcoreapp2.0
/CommonModels/obj
